/* Whole Document Styling */

* {
    box-sizing: border-box;
    word-wrap: break-word;
    color: #003554
}

body {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8FF;
}

/* Element Styling */

h1 {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 400;
    opacity: 0.8;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
    opacity: 0.8;
}

hr {
    margin: 2em 0;
    border: 0;
    border-bottom: solid 2px #051923; 
    font: inherit;
}

i {
    transition: 0.7s;
}

i:hover {
    color: #00A6FB;
}

p {
    margin: 0 0 2em 0;
    text-align: justify;
    text-justify: inter-word;
    opacity: 0.75;
}

/* Class Styling */

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 25%;
    text-align: right;
}

.right {
    width: 75%;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.navlink {
    text-decoration: none;
    transition: 0.7s;
    border-bottom: dotted 1px;
}

.navlink:hover {
    color: #00A6FB;
}

.thumbnail img {
    width: 10em;
    border-radius: 0.35em;
}

/* ID Styling */

#me {
    border-radius: 50%;
    width: 8.5em;
}

#navlist {
    list-style-type: none;
    margin: 0 0 2em 0;
    line-height: 2em;
}

#main {
    margin: 2em;
}

#hi {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

#modules {
    opacity: 0.75;
}